{# sidebar.twig #}
{# admin menu, the left one in the page #}

<div class="col-sm-3 col-md-2 sidebar">
    <ul class="nav nav-sidebar">
        <li><a href="/admin/urls">URLs management</a></li>
    </ul>
</div>